<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>{{ jenkins_user }}</id>
  <fullName>{{ jenkins_user }}</fullName>
  <properties>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>{{ jenkins_password_hash }}</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>{{ jenkins_api_token_uuid }}</uuid>
            <name>{{ jenkins_api_token_name }}</name>
            <creationDate>2023-02-10 13:35:03.131 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>{{ jenkins_api_token_hashed }}</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
  </properties>
</user>
