<?xml version='1.1' encoding='UTF-8'?>
<hudson.model.UserIdMapper>
  <version>1</version>
  <idToDirectoryNameMap class="concurrent-hash-map">
    <entry>
      <string>{{ jenkins_user }}</string>{# username #}
      <string>{{ jenkins_user }}</string>{# directory for the user #}
    </entry>
  </idToDirectoryNameMap>
</hudson.model.UserIdMapper>